transformers
huggingface_hub
accelerate>=0.31.0
prometheus-client
aixblock-ml
aixblock-sdk==0.0.5
aixblock-tools
tensorboardX
gradio
redis
rq
flask>=2.2
flask-cors
Werkzeug>=2.0
gunicorn>=20.0
colorama
lxml
appdirs
gitpython
centrifuge-python
opencv-python>=4.1.1
numpy
grafana-api
diffusers
datasets
trl
peft
scipy
bitsandbytes>=0.41.3
langchain
langchain_community
nvidia-ml-py
wandb
langchain_huggingface
flask_swagger_ui
pyyaml
gradio_log
tf-keras
loguru
about-time
rich
huggingface_hub[hf_xet]
apscheduler
fastapi
sse-starlette
uvicorn
mcp
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu126
torchvision==0.21.0 --index-url https://download.pytorch.org/whl/cu126
torchaudio==2.6.0 --index-url https://download.pytorch.org/whl/cu126
spaces
chromadb==0.6.3
rank_bm25
docling==2.16.0
docling-core==2.15.1
docling-ibm-models==3.3.0
docling-parse==3.1.2
langgraph==0.2.67
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
sentence-transformers==3.2.1
httpx
sseclient
psutil
fastapi-proxy-lib[standard]
boto3
paramiko
pysmb
qdrant_client
psycopg2-binary
librosa
openai-whisper==20240930
kokoro-onnx
onnxruntime-gpu==1.21.1
silero_vad
webrtcvad
faster_whisper
pydub
